@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.Dt{
    font-family: "Mali", sans-serif;
    font-weight: 520;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* เลือกจำนวนบรรทัดที่จะแสดง */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }