
  
    button {
      background: transparent;
      position: relative;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      font-size: 17px;
      font-weight: 600;
      text-decoration: none;
      cursor: pointer;
      
      border-radius: 25px;
      outline: none;
      overflow: hidden;
      
      transition: color 0.3s 0.1s ease-out;
      text-align: center;
    }
  
    button span {
      margin: 10px;
    }
  
    button::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      content: '';
      border-radius: 50%;
      display: block;
      width: 20em;
      height: 20em;
      left: -5em;
      text-align: center;
      transition: box-shadow 0.45s ease-out;
      z-index: -1;
    }
  
    button:hover {
      color: #fff;
    }
  
    .reset:hover {
      color: #000000;
      transform: scale(1.2);
    }
  
    .reset{
      color: #a9afb4;
      transition: transform 0.3s ease;
    }
  
    .delete:hover {
      color: #aa1717;
      transform: scale(1.2);
    }
  
    .delete{
      color: #a9afb4;
      transition: transform 0.3s ease;
    }
  
    .confirm:hover::before {
      box-shadow: inset 0 0 0 10em #7cb342;
    }
  
    .confirm{
      border: 1px solid #7cb342;
      color:#7cb342;
    }
  
    .add:hover::before {
      box-shadow: inset 0 0 0 10em #0277bd;
    }
  
    .add{
      border: 1px solid #0277bd;
      color:#0277bd;
    }
    
    .compare{
      font-family: "Mitr", sans-serif;
      font-weight: 400;
    }

    .results-box {
      position: relative; /* Make sure the container has relative positioning */
    }
    
    .reset-icon {
      position: absolute;
      top: 10px;  /* Adjust top margin */
      right: 10px;  /* Adjust right margin */
      cursor: pointer;
    }
    
    .reset-results {
      color: #a9afb4;
      transition: transform 0.3s ease;
    }
    
    .reset-results:hover {
      color: #000000;
      transform: scale(1.2);
    }
    

