@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playwrite+HU:wght@100..400&family=Playwrite+IT+Moderna:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Podkova:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');



@import "tailwindcss";
@tailwind base;
@tailwind component;
@tailwind utilities;





@layer {
  .header{
    border-bottom: 1px solid #D6CDC7;
  }

  .search{
  }



  .navbar_link {
    font-family: "Podkova", serif;
    font-size: 20px;
  }

  .navbar_link:hover {
    color: #ed9e59;
    transition: all 0.4s;
  }

  .navbar_link::after {
    position: absolute;
    content: "";
    background-color: #ed9e59;
    height: 3px;
    width: 100%;
    bottom: -5px;
    left: 0;
    scale: 0;
    transform-origin: left;
    transition: all 0.4s;
  }

  .navbar_link:hover::after{
    scale: 1;
  }

  .logo{
    font-family: 'Playwrite IT Moderna', serif;
  }

  .intro{
    font-family: "Mitr", sans-serif;
    font-weight: 520;
    font-style: normal;
  }

  .main{
    background-color: #f2dfcf;
    /*border-bottom-left-radius: 60px; /* มุมซ้ายล่างโค้ง */
    /*border-bottom-right-radius: 60px;*/
  }

  .card {
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
    transition: transform 0.2s ease-in-out;
  }
  
  .card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 16px;
  }
  
  .card h3 {
    margin: 0;
    font-size: 20px;
  }
  
  .card p {
    margin: 8px 0 0;
    color: #555;
  }
  
}

/* ซ่อนแถบเลื่อนขององค์ประกอบที่ใช้คลาส .no-scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

