@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



.profont{
    font-family: "Mali", sans-serif;
    font-weight: 520;
  }
html{
    background-color: #FFFFFF;
}

.proNormal{
  font-family: "Mitr", sans-serif;
  font-weight: 410;
  font-style: normal;
}