.ingre{
  font-family: "Mitr", sans-serif;
  font-weight: 350;
  }
  .profont{
    font-family: "Mitr", sans-serif;
      font-weight: 410;
    }
  .proNormal{
    font-family: "Mitr", sans-serif;
    font-weight: 410;
    font-style: normal;
  }
