@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');



.ingre{
    font-family: "Mali", sans-serif;
    font-weight: 520;
<<<<<<< HEAD
  }
=======
  }
>>>>>>> c87ec05d49853d4ca05f6c5797cda361be39d609
